


.emergency-card .message-form textarea:focus {
    outline: 2px solid #3463CF;

 
}

.message-form .send-message {
    background-color: green;
    padding: 0.8rem 1.6rem;
}



/* Report an Incident */
.report-incident {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.report-incident h1 {
    text-align: center;
    color: #071D50;
    font-size: 2rem;
    font-weight: 500;
}

.report-incident form {
    width: auto;
    height: auto;
    background: rgb(0,3,10);
    border: 3px solid #3463CF;
    border-radius: 10px;
    padding: 2rem;
    color: #ffffffc2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    justify-content: center;
}


.report-incident .incident-description,
.report-incident .incident-categorization,
.report-incident .incident-image {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    width: 80%;
    
}

.report-incident .incident-description {
    width: 80%;
}

.report-incident .incident-description textarea,
.report-incident .incident-categorization input,
.report-incident .incident-image input {
    color: #071D50;
    font-weight: 500;
    border-radius: 10px;
    padding: 1rem;
}

.report-incident .incident-description textarea:focus {
    outline: 3px solid #3463CF;
}

.report-incident .incident-image input {
    cursor: pointer;
}

.report-incident .incident-categorization input {
    padding: 1rem;
}

.report-incident .submit-report {
    background-color: green;
    padding: 0.8rem 1.6rem;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
}

.report-incident .submit-report:hover {
    background-color: darkgreen;
}

@media(max-width: 768px) {

}